<div class="container">
    <div class="col-12 border-bottom">
        <h4 class="text-muted">General Info</h4>
    </div>
    <div *ngIf="user" class="col-12 mt-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <avatar-photo [name]="getUserName()" [photoUrl]="getPhotoUrl()" [avatarSize]="1"></avatar-photo>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-warning d-flex justify-content-center mt-1">
                        <div>
                            <i class="fa fa-user"></i> {{ user.role }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-start mt-2">
                <div class="align-self-center">
                    <div class="user-name" style="font-size: 1.4rem;">{{ user.firstName }} {{ user.lastName }}</div>
                    <small class="text-muted font-italic user-email">{{ user.email }}</small>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 col-lg-4 mt-1">
                <button class="btn btn-outline-dark form-control" type="button" data-toggle="collapse" data-target="#collapseAvatarForm">Change Avatar</button>
            </div>
            <div class="col-md-12 col-lg-4 mt-1">
                <button class="btn btn-outline-danger form-control" type="button" data-toggle="modal" data-target="#deleteAvatarConfirmationModal" >Delete Avatar</button>
            </div>
            <div class="col-md-12 col-lg-4 mt-1">
                <button class="btn btn-outline-dark form-control" type="button" data-toggle="collapse" data-target="#collapseEditDataForm">Change Email</button>
            </div>
        </div>
        <div class="mt-5" id="collapseForms">
            <div class="row mt-3 collapse" id="collapseAvatarForm" data-parent="#collapseForms">
                <!-- CHANGE AVATAR FORM -->
                <form [formGroup]="changeAvatarForm" (ngSubmit)="onChangeAvatarFormSubmit()">
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label for="firstName">Choose file</label>
                            <input formControlName="avatar" type="file" class="form-control-file" (change)="onFileChange($event)">
                        </div>
                        <button class="btn btn-outline-dark">
                            <span *ngIf="changeAvatarFormLoading" class="spinner-border spinner-border-sm mr-1"></span>
                            Change
                        </button>
                    </div>
                </form>
            </div>
            <div class="row mt-3 collapse" id="collapseEditDataForm" data-parent="#collapseForms" >
                <!-- EDIT DATA FORM -->
                <form [formGroup]="editUserDataForm" (ngSubmit)="onSubmitEditUserDataForm()">
                    <div class="col-md-12 mt-3">
                        <!-- <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input formControlName="firstName" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': editDataFormSubmitted && f.firstName.errors }" />
                            <div *ngIf="editDataFormSubmitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.pattern">First Name cannot contains any special characters or digits.</div>
                                <div *ngIf="f.firstName.errors.maxlength">First Name cannot be longer than 30 characters.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Last Name</label>
                            <input formControlName="lastName" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': editDataFormSubmitted && f.lastName.errors }" />
                            <div *ngIf="editDataFormSubmitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.pattern">Last Name cannot contains any special characters or digits.</div>
                                <div *ngIf="f.lastName.errors.maxlength">Last Name cannot be longer than 30 characters.</div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="firstName">Email</label>
                            <input formControlName="email" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': editDataFormSubmitted && f.email.errors }" />
                            <div *ngIf="editDataFormSubmitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required.</div>
                                <div *ngIf="f.email.errors.email">Provide valid email.</div>
                            </div>
                        </div>
                        <button class="btn btn-outline-dark">
                            <span *ngIf="editUserDataFormLoading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<!-- MODALS -->
<!-- DELETE AVATAR CONFIRMATION MODAL -->
<div class="modal fade" id="deleteAvatarConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteAvatarConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteAvatarConfirmationModal"><i class="fas fa-exclamation-circle text-danger"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Do you really want to delete your avatar?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAvatar()">DELETE</button>
        </div>
        </div>
    </div>
</div>