<div class="col-md-6 offset-md-3 mt-5">
     <!-- MENU -->
     <div class="row mb-3">
        <div class="col-md-6 mb-1">
            <a routerLink="/account/register_user" class="btn btn-outline-secondary form-control">Register User</a>
        </div>
        <div class="col-md-6">
            <a routerLink="/account/register_student" class="btn btn-secondary form-control">Register Student</a>
        </div>  
    </div>
</div>
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">Register Student</div>
        <div class="card-body">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                <!-- STUDENT DATA -->
                <div class="col-md-6">
                    <h4>Student Data</h4>
                    <hr>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors.email">Please provide a valid email.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                            <div *ngIf="f.firstName.errors.pattern">First Name cannot contains any special characters or digits.</div>
                            <div *ngIf="f.firstName.errors.maxlength">First Name cannot be longer than 30 characters.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
                            <div *ngIf="f.lastName.errors.pattern">Last Name cannot contains any special characters or digits.</div>
                            <div *ngIf="f.lastName.errors.maxlength">Last Name cannot be longer than 30 characters.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="albumNumber">Album Number</label>
                        <input type="text" formControlName="albumNumber" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.albumNumber.errors }" />
                        <div *ngIf="submitted && f.albumNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.albumNumber.errors.required">Album Number is required.</div>
                            <div *ngIf="f.albumNumber.errors.pattern">Album number must consist of exacly 6 digits.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                            <div *ngIf="f.password.errors.pattern">The password must be at least 8 characters long and maximum 16 characters long,
                                contains upper and lower case letters, a number and a special character.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Password Confirmation is required.</div>
                            <div *ngIf="f.confirmPassword.errors.notMatch && !f.confirmPassword.errors.required">Passwords must be the same.</div>
                        </div>
                    </div>
                </div>
                <!-- END OF STUDENT DATA -->
                <!-- GROUP FINDER -->
                <div class="col-md-6">
                    <h4>Student Group</h4>
                    <hr>
                    <div class="form-group">
                        <group-finder (formChanged)="onGroupFinderChanged($event)"></group-finder>
                        <div *ngIf="submitted && f.groupId.errors" class="invalid-feedback d-block">
                            <div *ngIf="f.groupId.errors.required">You have to choose a group.</div>
                        </div>
                    </div>
                    
                </div>
                <!-- END OF GROUP FINDER -->
                </div>
                <div class="form-group ml-4">
                    <input type="checkbox" formControlName="acceptTerms" class="form-check-input" />
                    <label for="acceptTermsCheckbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit pariatur consequuntur distinctio earum quia beatae qui perferendis. Dignissimos atque cum aliquid vitae, dolor asperiores. Odio accusamus soluta quibusdam. Blanditiis autem, velit corporis vel ratione obcaecati, qui sed ab architecto veniam culpa mollitia soluta. Fugit dolorum hic autem, unde saepe inventore illo est cupiditate! Inventore magni voluptate earum aut reiciendis quam eum totam voluptatibus! Necessitatibus reiciendis accusantium voluptatibus quas, nulla dignissimos consectetur a velit asperiores vitae magni, laudantium consequuntur eveniet molestiae maiores reprehenderit culpa odio sequi, ipsa facilis? Quae consequuntur sint expedita recusandae iste quas. Velit aspernatur cumque corporis iusto eaque!</label>
                </div>
                <div class="form-group">
                    <input class="is-invalid" hidden>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">          
                        <div>You have to accept terms.</div>
                    </div>
                </div>      
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-secondary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>