<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/announcements" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>           
    <div class="row mt-3">
      <div class="col-8">
        <div class="col-6">
            <h5>Edit Announcement</h5>
            <hr>
            <form *ngIf="announcementLoaded" [formGroup]="editAnnouncementForm" (ngSubmit)="onSubmit()">
                <div class="form-gorup">
                    <label for="">Title</label>
                    <input formControlName="title" type="text" class="form-control"
                    [ngClass]="{'is-invalid': submitted && this.f.title.errors }"/>
                    <div *ngIf="submitted && this.f.title.errors" class="invalid-feedback">
                        <div *ngIf="this.f.title.errors.required">Title is required.</div>
                        <div *ngIf="this.f.title.errors.maxlenght">Title cannot be longer than 100 characters.</div>
                    </div>
                </div>
                <div class="form-gorup">
                    <label for="">Text</label>
                    <textarea formControlName="content" class="form-control" cols="30" rows="4"
                    [ngClass]="{'is-invalid': submitted && this.f.content.errors }"></textarea>
                    <div *ngIf="submitted && this.f.content.errors" class="invalid-feedback">
                        <div *ngIf="this.f.content.errors.required">Content is required.</div>
                        <div *ngIf="this.f.content.errors.maxlenght">Content cannot be longer than 500 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Visible From</label>
                    <input formControlName="visibleFromDate" class="form-control" type="date"
                    [ngClass]="{'is-invalid': submitted && this.f.visibleFromDate.errors }"/>
                    <div *ngIf="submitted && this.f.visibleFromDate.errors" class="invalid-feedback">
                        <div *ngIf="this.f.visibleFromDate.errors.required">Visible From Date is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="visibleFromTime" class="form-control" type="time"
                    [ngClass]="{'is-invalid': submitted && this.f.visibleFromTime.errors }"/>
                    <div *ngIf="submitted && this.f.visibleFromTime.errors" class="invalid-feedback">
                        <div *ngIf="this.f.visibleFromTime.errors.required">Visible From Time is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Visible To</label>
                    <input formControlName="visibleToDate" class="form-control" type="date"
                    [ngClass]="{'is-invalid': submitted && this.f.visibleToDate.errors }"/>
                    <div *ngIf="submitted && this.f.visibleToDate.errors" class="invalid-feedback">
                        <div *ngIf="this.f.visibleToDate.errors.required">Visible To Date is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="visibleToTime" class="form-control" type="time"
                    [ngClass]="{'is-invalid': submitted && this.f.visibleToTime.errors }"/>
                    <div *ngIf="submitted && this.f.visibleToTime.errors" class="invalid-feedback">
                        <div *ngIf="this.f.visibleToTime.errors.required">Visible To Time is required.</div>
                    </div>
                </div>
                <div class="form-check">
                    <input formControlName="isVisible" type="checkbox" class="form-check-input">
                    <label class="form-check-label">Is Visible</label>
                </div>
                    <button class="btn btn-outline-dark mt-2">Save</button>
            </form>
        </div>
      </div>
    </div>
</div>