<!-- <div class="col-md-8 offset-md-2">
    <h1>My profile</h1>
    <div class="row">
        <a router class="btn btn-outline-primary mx-1">Info</a>
        <a href="" class="btn btn-outline-primary mx-1">My Groups</a>
        <a href="" class="btn btn-outline-primary mx-1">My Rates</a>
        <a href="" class="btn btn-outline-primary mx-1">Cokolwiek</a>
        <a href="" class="btn btn-outline-primary mx-1">Test</a>
    </div>
</div>
<div *ngIf="user" class="col-md-6 offset-md-3">
    <p>Imię: {{ user.firstName }}</p>
    <p>Nazwisko: {{ user.lastName }}</p>
</div> -->

<div class="col-md-10 offset-md-1 mt-4">
    <!-- <div class="row">
        <div class="col-md-2">ss</div>
        <div class="col-md-6">xD</div>
    </div> -->
    <div class="col-md-8 offset-md-2">
        <h3>Profile</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <!-- <nav class="navbar navbar-expand-lg navbar-light navbar-burger">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="nav flex-column nav-pills" id="navbarSupportedContent">
                        <a class="nav-link active" data-toggle="pill" >General</a>
                        <a class="nav-link" data-toggle="pill" >Security</a>
                        <a class="nav-link" data-toggle="pill" >My groups</a>
                        <a class="nav-link" data-toggle="pill" >Contact Admin</a>
                    </div>
                </nav> -->
                <nav class="navbar navbar-expand-lg navbar-light navbar-burger" style="width: 100%;">
                    <div class="container-fluid" style="width: 100% !important;">
                        <button class="navbar-toggler ml-auto mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="nav flex-column nav-pills " style="width: 100% !important;">
                                <a class="nav-link active" data-toggle="pill" >General</a>
                                <a class="nav-link" data-toggle="pill" >Security</a>
                                <a class="nav-link" data-toggle="pill" >My groups</a>
                                <a class="nav-link" data-toggle="pill" >Contact Admin</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>

