<div class="">
    <!-- ARROW BACK -->
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/groups" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>  
    <!-- GROUP DETAILS MENU -->
    <div class="row mt-3 ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/general" class="nav-link active">General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/attendance" class="nav-link">Attendance</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/marks" class="nav-link">Marks</a>
            </li>
        </ul>
    </div>
    <!-- GROUP DETAILS CONTENT -->
    <div class="row mt-3">
        <div class="col-8 ml-3">
            <h5>Group Details</h5>
            <div *ngIf="group">
                <table class="group-details">
                    <tbody>
                        <tr>
                            <th scope="row">Course:</th> <td *ngIf="group.Course" >{{ group.Course.name }}</td><td *ngIf="!group.Course">-</td>
                        </tr>
                        <tr>
                            <th scope="row">Specialization:</th> <td *ngIf="group.Specialization">{{ group.Specialization.name }}</td><td *ngIf="!group.Specialization">-</td>
                        </tr>
                        <tr>
                            <th scope="row">Subject:</th> <td *ngIf="group.Subject">{{ group.Subject.name }}</td><td *ngIf="!group.Subject">-</td>
                        </tr>
                        <tr>
                            <th scope="row">Academic Year:</th> <td>{{ group.academicYear }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Level:</th> <td>{{ printGroupLevel(group.level) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Studies type:</th> <td>{{ printStudiesType(group.type) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Group type:</th> <td>{{ printGroupType(group.groupType) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Group number:</th> <td>{{ group.number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- GROUP MEMBERS  -->
    <div class="row mt-3">
        <div class="col-4 ml-3">
            <h5 class="mt-3">Group Members:</h5>
            <button class="btn btn-success" (click)="openModal('add-student-modal')">+ Add Students</button>
            <table class="table table-sm text-center mt-1">
                <thead class="thead-dark">
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Album Number</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let gM of groupMembers; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ gM.User.firstName }}</td>
                        <td>{{ gM.User.lastName }}</td>
                        <td>{{ gM.User.albumNumber }}</td>
                        <td>
                            <span class="btn badge badge-danger badge-pill ml-1" (click)="removeMemberFromGroup(gM.id)"><i class="fas fa-trash-alt"></i></span>
                        </td>
                    </tr>
                    <tr *ngIf="groupMembers.length === 0">
                        <td colspan="5" class="text-center">
                            No members.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ADDITION REQUESTS -->
    <div class="row mt-3">
        <div class="col-4 ml-3">
            <h5 class="mt-3">Students requested to join this group:</h5>
            <table class="table table-sm text-center">
                <thead class="thead-dark">
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Album Number</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let aR of additionRequests; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ aR.User.firstName }}</td>
                        <td>{{ aR.User.lastName }}</td>
                        <td>{{ aR.User.albumNumber }}</td>
                        <td>
                            <span class="btn badge badge-secondary badge-pill ml-1" (click)="acceptAdditionRequest(aR.id)"><i class="fas fa-check"></i></span>
                            <span class="btn badge badge-danger badge-pill ml-1" (click)="rejectAdditionRequest(aR.id)"><i class="fas fa-times"></i></span>
                        </td>
                    </tr>
                    <tr *ngIf="additionRequests.length === 0">
                        <td class="text-center" colspan="5">
                            No requests.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ADD STUDENT MODAL -->
<box-modal id="add-student-modal" [bodyClasses]="getAddStudentModalClasses()">
    <div class="row">
        <div class="ml-auto mr-3 mt-2">
            <i class="fas fa-times" (click)="closeModal('add-student-modal')" style="cursor: pointer;"></i>
        </div>
    </div>
    <div *ngIf="groupId">
        <students-list [groupId]="groupId" (studentsAdded)="reloadUsers()"></students-list>
    </div>
</box-modal>