<div class="mt-2">         
    <div class="row">
        <div class="col-8">
        <div *ngIf="announcements">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Visible</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let announcement of pageOfItems; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ announcement.title }}</td>
                        <td>{{ printDate(announcement.visibleFrom) }}</td>
                        <td>{{ printDate(announcement.visibleTo) }}</td>
                        <td><input type="checkbox" [checked]="announcement.isVisible"></td>
                        <td><button class="btn btn-info">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="delete(announcement._id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="d-flex justify-content-center">
                <jw-pagination [items]="announcements" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
        </div>
        <div class="col-4">
        <a routerLink="/admin/announcements/add_announcement" class="btn btn-success">Add New Announcement</a>
        </div>
    </div>
</div>   