<div class="col-md-10 offset-md-1 mt-4">
    <div class="col-md-8 offset-md-2">
        <h3>Contact Information</h3>
        <hr>
    </div>
    <div class="col-md-8 offset-md-2 mt-2">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="div">
                    <img src="../../../../assets/prz.jpg" style="width: 200px; height: 200px">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <h4><a href="https://w.prz.edu.pl/">Politechnika Rzeszowska Im. Ignacego Łukasiewicza (Rzeszow University of Technology)</a></h4>
                <h6><a href="https://weii.prz.edu.pl/">Wydział Elektrotechniki i Informatyki (Faculty of Electrical and Computer Engineering)</a></h6>
                <h6><a href="https://kia.prz.edu.pl/">Katedra Automatyki i Informatyki (Department of Computer and Control Engineering)</a></h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="col-12">
                    <h5 style="text-align: center;">Contact Info</h5>
                    <hr style="width: 50%;">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <table class="d-block">
                    <tbody>
                        <tr>
                            <td colspan="2">Address</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Country:</span></td>
                            <td><span *ngIf="contact && contact.country">{{ contact.country }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">City:</span></td>
                            <td><span *ngIf="contact && contact.city">{{ contact.city }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Street:</span></td>
                            <td><span *ngIf="contact && contact.street">{{ contact.street }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">ZIP Code:</span></td>
                            <td><span *ngIf="contact && contact.postalCode">{{ contact.postalCode }}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2">Contact</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Room:</span></td>
                            <td><span *ngIf="contact && contact.room">{{ contact.room }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Email:</span></td>
                            <td><span *ngIf="contact && contact.email">{{ contact.email }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Phone:</span></td>
                            <td><span *ngIf="contact && contact.phone">{{ contact.phone }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Web Page:</span></td>
                            <td><a *ngIf="contact && contact.webPage" href="{{ contact.webPage }}">{{ contact.webPage }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-12">
                    <h5 style="text-align: center;">Social Media</h5>
                    <hr style="width: 50%;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                    <a href="https://publons.com/researcher/2718342/tomasz-rak/"><img class="img-social d-block" src="../../../../assets/publons.png"></a>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                    <a href="https://orcid.org/0000-0002-9299-2216"><img class="img-social d-block" src="../../../../assets/orcid.png"></a>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                    <a href="https://www.researchgate.net/profile/Tomasz_Rak"><img class="img-social d-block" src="../../../../assets/researchgate.png"></a>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                    <a href="https://nauka-polska.pl/#/profile/scientist?id=210124&_k=68zp46"><img class="img-social d-block" src="../../../../assets/opi.jpeg"></a>
                </div>
            </div> 
        </div>   
    </div>
</div>