<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/groups/specializations" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>         
    <div class="row mt-3">
        <div class="col-8">
            <h5>Add New Specialization</h5>
            <hr style="width: 50%; margin-left: 0;">
            <div class="col-4">
                <form [formGroup]="addSpecializationForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="">Course</label>
                        <select formControlName="courseId" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.courseId.errors }">
                            <option value=""></option>
                            <option *ngFor="let course of courses" value="{{ course.id }}" >{{ course.name }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && this.f.courseId.errors">
                            <div *ngIf="this.f.courseId.errors?.required">Course is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{'is-invalid': submitted && this.f.name.errors}"/>
                        <div *ngIf="submitted && this.f.name.errors" class="invalid-feedback">
                            <div *ngIf="this.f.name.errors?.required">Name is required.</div>
                            <div *ngIf="this.f.name.errors?.maxlength">Name cannot be longer than 50 characters.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Short</label>
                        <input type="text" class="form-control" formControlName="short"
                        [ngClass]="{'is-invalid': submitted && this.f.short.errors}"/>
                        <div *ngIf="submitted && this.f.short.errors" class="invalid-feedback">
                            <div *ngIf="this.f.short.errors?.required">Short is required.</div>
                            <div *ngIf="this.f.short.errors?.maxlength">Short cannot be longer than 8 characters.</div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-dark" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>   