<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/announcements" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>              
    <div class="row mt-3">
      <div class="col-8">
        <div class="col-6">
            <h5>Add New Announcement</h5>
            <hr>
            <form [formGroup]="addAnnouncementForm" (ngSubmit)="onSubmit()">
                <div class="form-gorup">
                    <label for="">Title</label>
                    <input formControlName="title" type="text" class="form-control"
                    [ngClass]="{'is-invalid': submitted && this.f.title.errors }"/>
                    <div *ngIf="submitted && this.f.title.errors" class="invalid-feedback">
                        <div *ngIf="this.f.title.errors.required">Title is required.</div>
                        <div *ngIf="this.f.title.errors.maxlenght">Title cannot be longer than 100 characters.</div>
                    </div>
                </div>
                <div class="form-gorup">
                    <label for="">Text</label>
                    <textarea formControlName="content" class="form-control" cols="30" rows="4"
                    [ngClass]="{'is-invalid': submitted && this.f.content.errors }"></textarea>
                    <div *ngIf="submitted && this.f.content.errors" class="invalid-feedback">
                        <div *ngIf="this.f.content.errors.required">Content is required.</div>
                        <div *ngIf="this.f.content.errors.maxlenght">Content cannot be longer than 500 characters.</div>
                    </div>
                </div>
                <!-- Visible From -->
                <div class="form-group mt-2">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="pickerFrom" 
                                        placeholder="Visible From" 
                                        formControlName="visibleFrom"
                                        [min]="minDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerFrom 
                          [showSpinners]="showSpinners" 
                          [showSeconds]="showSeconds"
                          [stepHour]="stepHour" [stepMinute]="stepMinute" 
                          [stepSecond]="stepSecond"
                          [touchUi]="touchUi"
                          [color]="color">
                        </ngx-mat-datetime-picker>
                      </mat-form-field>
                </div>
                <!-- Visible To -->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="pickerTo" 
                                        placeholder="Visible To"
                                        formControlName="visibleTo"
                                        [min]="minDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerTo
                          [showSpinners]="showSpinners" 
                          [showSeconds]="showSeconds"
                          [stepHour]="stepHour" [stepMinute]="stepMinute" 
                          [stepSecond]="stepSecond"
                          [touchUi]="touchUi"
                          [color]="color">
                        </ngx-mat-datetime-picker>
                      </mat-form-field>
                </div>
                <div class="form-check">
                    <input formControlName="isVisible" type="checkbox" class="form-check-input">
                    <label class="form-check-label">Is Visible</label>
                </div>
                    <button class="btn btn-outline-dark mt-2">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>   
