<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/announcements" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>              
    <div class="row mt-3">
      <div class="col-8">
        <div class="col-6">
            <h5>Add New Announcement</h5>
            <hr>
            <form [formGroup]="addAnnouncementForm" (ngSubmit)="onSubmit()">
                <div class="form-gorup">
                    <label for="">Title</label>
                    <input formControlName="title" type="text" class="form-control">
                </div>
                <div class="form-gorup">
                    <label for="">Text</label>
                    <textarea formControlName="content" class="form-control" cols="30" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Visible From</label>
                    <input formControlName="visibleFromDate" class="form-control" type="date" name="" id="">
                </div>
                <div class="form-group">
                    <input formControlName="visibleFromTime" class="form-control" type="time" name="" id="">
                </div>
                <div class="form-group">
                    <label for="">Visible To</label>
                    <input formControlName="visibleToDate" class="form-control" type="date" name="" id="">
                </div>
                <div class="form-group">
                    <input formControlName="visibleToTime" class="form-control" type="time" name="" id="">
                </div>
                <div class="form-check">
                    <input formControlName="isVisible" type="checkbox" class="form-check-input">
                    <label class="form-check-label">Is Visible</label>
                </div>
                    <button class="btn btn-outline-dark mt-2">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>   
