<div class="my-2 d-flex justify-content-center" *ngIf="presence">
    <div>
        <h4>Presence Details</h4>
        <table class="table">
            <thead></thead>
            <tbody>
                <tr>
                    <th scope="row">Event</th>
                    <td>{{ presence.Event.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Student</th>
                    <td>{{ presence.user.firstName }} {{ presence.user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Confirmed By</th>
                    <td>{{ presence.confirmed.firstName }} {{ presence.confirmed.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Confirmed At</th>
                    <td>{{ printDate(presence.updated_at) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>