<div class="">
    <!-- ARROW BACK TO GROUP LIST -->
    <div class="row ml-2">
        <div class="col-8">
            <a routerLink="/admin/groups/courses" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>         
    <!-- MENU -->
    <div class="row ml-2 mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/groups/archive/courses">Archival Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/archive/specializations" >Archival Specializations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/archive/subjects" >Archival Subjects</a>
            </li>
        </ul>
    </div>
    <!-- <div class="row mt-3">
        <div class="col-2">
            <a routerLink="/admin/groups/courses/add_course" class="btn btn-success">+ Add Course</a>
        </div>
    </div> -->
    <div class="row mt-3">
        <div class="col-4">
            <div class="table-responsive">
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Short</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody *ngIf="courses">
                        <tr *ngFor="let course of courses; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td class="text-truncate" style="max-width: 200px;" title="{{ course.name }}">{{ course.name }}</td>
                            <td>{{ course.short }}</td>
                            <td class="text-right">
                                <span class="btn badge badge-success badge-pill" (click)="restoreCourse(course.id)"><i class="far fa-arrow-alt-circle-left"></i></span>
                                <span class="btn badge badge-info badge-pill ml-1" (click)="editCourse(course.id)"><i class="fas fa-pen"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="setCourseToDelete(course.id)" data-toggle="modal" data-target="#deleteCourseConfirmationModal"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="courses.length === 0">
                            <td colspan="4">No matching results.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!courses">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border m-auto" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- COURSE DELETE CONFIRMATION MODAL -->
<div class="modal fade" id="deleteCourseConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteCourseConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteCourseConfirmationModalLabel"><i class="fas fa-exclamation-circle text-danger"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span class="text-danger font-weight-bold">NOT RECOMMENDED. </span>
            <span class="text-warning font-weight-bold">Use archive option if it's possible.</span>
            Do you really want to delete this course? This process cannot be undone.
            Be aware that operation also remove all specializations and subject assigned to the course.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setCourseToDelete(null)">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCourse()">DELETE</button>
        </div>
        </div>
    </div>
</div>