<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li>
                <a routerLink="/admin/users">Users</a>
            </li>
            <li>
                <a routerLink="/admin/groups">Groups</a>
            </li>
            <li>
                <a routerLink="/admin/news">News</a>
            </li>
            <li>
                <a routerLink="/admin/announcements">Announcements</a>
            </li>
            <li>
                <a routerLink="/admin/about">About</a>
            </li>
            <li>
                <a routerLink="">Contact</a>
            </li>
        </ul>
    </nav>

    <div id="content" style="width: 100%;">
            <div class="container-fluid">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
    </div>

</div>