<div class="col-md-10 offset-md-1 mt-4">
    <div class="col-md-8 offset-md-2">
        <h3>News</h3>
        <hr>
    </div>
    <!-- FORM SEARCH HERE -->
    <div class="row mt-2">
        <div class="col-md-6 offset-md-2">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Type something....">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button class="btn btn-secondary form-control">Search</button>
            </div>
        </div>
    </div>
    <!-- CATEGORIES HERE -->

    <!-- NEWS -->
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div *ngFor="let singleNews of news; let i = index;" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 mt-3">
                    <div class="card" style="height: 100%;">
                        <img class="card-img" src="{{ getNewsPhotoUrl(singleNews) }}">
                        <div class="card-body">
                            <h4 class="card-title">
                                    {{ singleNews.title }}
                            </h4>
                            <div class="categories">
                                <span class="badge badge-primary mr-1">SIECI</span>
                                <span class="badge badge-primary mr-1">AI</span>
                                <span class="badge badge-primary mr-1">PROGRAMMING</span>
                            </div>
                            <small class="text-muted cat">
                                <i class="fas fa-user"></i> Gall Anonim
                            </small>
                            <p class="card-text">{{ singleNews.description }}</p>
                            <a *ngIf="canActivate(singleNews)" routerLink="{{ getNewsLink(singleNews) }}" class="btn btn-outline-info">Read More</a>
                            <span *ngIf="!canActivate(singleNews)" class="badge badge-warning ml-1 lock-icon" title="Login required."><i class="fas fa-lock" ></i></span>
                            <!-- <span class="badge badge-danger ml-1 lock-icon" title="Specific role protected."><i class="fas fa-lock"></i></span> -->
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="data">
                                {{ printDate(singleNews.updated_at)}}
                            </div>
                            <div class="stats">
                                <i class="far fa-comment"></i> 10
                            </div>
                        </div>
                    </div>
                </div> 
            </div>     
        </div>
    </div>
</div>