<div class="">
    <!-- ARROW BACK TO GROUP LIST -->
    <div class="row ml-2">
        <div class="col-8">
            <a routerLink="/admin/groups" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>         
    <!-- MENU -->
    <div class="row ml-2 mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/groups/specializations" >Specializations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/subjects" >Subjects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/archive/specializations" >Archive</a>
            </li>
        </ul>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <a routerLink="/admin/groups/specializations/add_specialization" class="btn btn-success">+ Add Specialization</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-5">
            <div class="table-responsive">
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                        <th scope="col">#</th>
                        <th scope="col">Course</th>
                        <th scope="col" class="sort-header" (click)="sortBy('name')">Name
                            <i *ngIf="sort.property === 'name' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sort.property === 'name' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                        </th>
                        <th scope="col" class="sort-header" (click)="sortBy('short')">Short
                            <i *ngIf="sort.property === 'short' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sort.property === 'short' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                        </th>
                        <th scope="col"></th>
                    </thead>
                    <tbody *ngIf="specializations">
                        <tr *ngFor="let spec of specializations; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td class="text-truncate" style="max-width: 200px;" title="{{ spec.Course.name }}">{{ spec.Course.name }}</td>
                            <td class="text-truncate" style="max-width: 200px;" title="{{ spec.name }}">{{ spec.name }}</td>
                            <td>{{ spec.short }}</td>
                            <td class="text-right">
                                <span class="btn badge badge-dark badge-pill" (click)="archiveSpecialization(spec.id)"><i class="far fa-calendar-times"></i></span>
                                <span class="btn badge badge-info badge-pill ml-1" (click)="editSpecialization(spec.id)"><i class="fas fa-pen"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="setSpecializationToDelete(spec.id)" 
                                data-toggle="modal" data-target="#deleteSpecializationConfirmationModal"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="specializations.length === 0">
                            <td colspan="4">No matching results.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!specializations">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border m-auto" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FILTER -->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit()">
                        <div class="form-group">
                            <input formControlName="name" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input formControlName="short" type="text" class="form-control" placeholder="Short">
                        </div>
                        <button class="btn btn-outline-dark form-control">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SPECIALIZATION DELETE CONFIRMATION MODAL -->
<div class="modal fade" id="deleteSpecializationConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteSpecializationConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteSpecializationConfirmationModalLabel"><i class="fas fa-exclamation-circle text-danger"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span class="text-danger font-weight-bold">NOT RECOMMENDED. </span>
            <span class="text-warning font-weight-bold">Use archive option if it's possible.</span>
            Do you really want to delete this specialization? This process cannot be undone.
            Be aware that operation also remove all subjects assigned to the specialization.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setSpecializationToDelete(null)">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSpecialization()">DELETE</button>
        </div>
        </div>
    </div>
</div>