<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/about" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>             
    <div class="row mt-3">
        <div class="col-6">
            <h5>Add About Page</h5>
            <hr>
            <!-- <form [formGroup]="addNewsForm" (ngSubmit)="onSubmit()"> -->
              
                <button class="btn btn-outline-dark mt-2">Save</button>
            <!-- </form> -->
        </div>
    </div>
</div>   