<div class="">
    <!-- ARROW BACK TO GROUP LIST -->
    <div class="row ml-2">
        <div class="col-8">
            <a routerLink="/admin/groups" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>         
    <!-- MENU -->
    <div class="row ml-2 mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/groups/courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/specializations" >Specializations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/groups/subjects" >Subjects</a>
            </li>
        </ul>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <a routerLink="/admin/groups/courses/add_course" class="btn btn-success">+ Add Course</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-4">
            <div class="table-responsive">
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Short</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody *ngIf="courses">
                        <tr *ngFor="let course of courses; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.short }}</td>
                            <td>
                                <span class="btn badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteCourse(course.id)"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="courses.length === 0">
                            <td colspan="4">No matching results.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!courses">
                        <tr>
                            <td colspan="5">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border m-auto" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>   