<div *ngIf="pages">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Page Title</th>
                <th scope="col">Visible</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let page of pages; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ page.title }}</td>
                <td>true</td>
                <td>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
