@media (max-width: 768px) {   
    .btn-auth {
        margin: 5px auto;
        width: 80%;
        display: block;
    }
    ul li a {
        text-align: center;
    }
    .avatar {
        display: none;
    }
}

// @media (min-width: 768px) {
//     .btn-profile {
//         display: none;
//     }
// }

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

hr {
    width: 90%;
}

.section-header h2 {
    text-align: center;
}

.navbar {
    background-color: #003C82 !important;
}