<div class="mt-2">
     <!-- GROUPS MENU -->
     <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/groups">Active Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users/inactive" >Archival Groups</a>
            </li>
        </ul>
    </div>
    <!-- GROUPS CONTENT -->
    <div class="row mt-3">
        <!-- GROUPS TABLE -->
        <div class="col-8">
        <div>
            <table class="table text-nowrap">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Display Name</th>
                        <th scope="col">Course</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Open</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="groups">
                    <tr *ngFor="let group of groups; let i = index">
                        <td>{{ i+1 }}</td>
                        <td><a routerLink="/admin/groups/{{ group.id }}/general">{{ group.displayName }}</a></td>
                        <td>{{ group.Course.name }}</td>
                        <td>{{ group.Specialization.name }}</td>
                        <td>{{ group.Subject.name }}</td>
                        <td><input type="checkbox" [checked]="group.isOpen"></td>
                        <td>
                            <span class="badge badge-dark badge-pill"><i class="far fa-calendar-times"></i></span>
                            <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                            <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteGroup(group.id)"><i class="fas fa-trash-alt"></i></span>
                        </td>
                    </tr>
                     <!-- NO MATCHING RESULTS -->
                     <tr *ngIf="groups.length == 0">
                        <td colspan="6" class="text-center">
                            No matching results.
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!groups">
                    <tr>
                        <td colspan="6">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border m-auto" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <!-- GROUPS SIDE MENU -->
        <div class="col-4">
        <a routerLink="/admin/groups/add_group" class="btn btn-success">Add New Group</a>
        </div>
    </div>
</div>   