<div class="mt-2">         
    <div class="row">
        <div class="col-8">
        <div *ngIf="groups">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Display Name</th>
                        <th scope="col">Open</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groups; let i = index">
                        <td>{{ i+1 }}</td>
                        <td><a routerLink="/admin/groups/group_details/{{ group.id }}">{{ group.displayName }}</a></td>
                        <td><input type="checkbox" [checked]="group.isOpen"></td>
                        <td><button class="btn btn-info">Edit</button></td>
                        <td><button class="btn btn-dark">Archive</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="col-4">
        <a routerLink="/admin/groups/add_group" class="btn btn-success">Add New Group</a>
        </div>
    </div>
</div>   