<div class="">
    <!-- ARROW BACK -->
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/groups" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>  
    <!-- GROUP DETAILS MENU -->
    <div class="row mt-3 ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/general" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/attendance" class="nav-link">Attendance</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/marks" class="nav-link active">Marks</a>
            </li>
        </ul>
    </div>
    <!-- GROUP Marks -->
    <h5 class="mt-5">Marks</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div *ngIf="members" class="ml-3">
        <button class="btn btn-outline-dark mt-2 mb-3" data-toggle="collapse" data-target="#collapseAddMarkForm">Add Mark</button>
        <button class="btn btn-outline-warning mt-2 mb-3 ml-2" data-toggle="modal" data-target="#addMarkModal">Add Mark</button>
        <button class="btn btn-outline-dark mt-2 mb-3 ml-2" (click)="getReport()">
            <span *ngIf="reportLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Get Report
        </button>
        <div class="col-6" id="collapseMarksForms">
            <!-- ADD MARK FORM -->
            <div class="col-6 collapse mb-3" id="collapseAddMarkForm" data-parent="#collapseMarksForms">
                <h6 class="mt-2">Add Mark</h6>
                <form [formGroup]="addMarkForm" (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                        <label for="">Students</label>
                        <select multiple class="form-control" formControlName="ids"
                        [ngClass]="{'is-invalid': addMarkFormSubmitted && f.ids.errors }">
                            <option *ngFor="let m of members" value="{{ m.id }}">{{ m.firstName }} {{ m.lastName }} {{ m.albumNumber }}</option>
                        </select>
                        <div *ngIf="addMarkFormSubmitted && f.ids.errors" class="invalid-feedback">
                            <div *ngIf="f.ids.errors.required">At least one student is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Mark</label>
                        <select class="form-control" formControlName="value"
                        [ngClass]="{'is-invalid': addMarkFormSubmitted && f.value.errors }">
                            <option value="2.0">2.0</option>
                            <option value="3.0">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5.0">5.0</option>
                        </select>
                        <div *ngIf="addMarkFormSubmitted && f.value.errors" class="invalid-feedback">
                            <div *ngIf="f.value.errors.required">Value id required.</div>
                        </div>
                    </div>
                    <div class="form-check">               
                        <input type="checkbox" formControlName="final" class="form-check-input" (change)="onAddMarkFinalChange()">
                        <label class="form-check-label">Final</label>
                    </div>
                    <br>
                    <div class="form-group" [ngClass]="{'d-none': !addMarkDescriptionVisible }">
                        <label for="">Description</label>
                        <select class="form-control" formControlName="markDescriptionId"
                        [ngClass]="{'is-invalid': addMarkFormSubmitted && f.markDescriptionId.errors }">
                            <option value=""></option>
                            <option *ngFor="let mD of markDescs" value="{{ mD.id }}">{{ mD.text }}</option>
                        </select>
                        <div *ngIf="addMarkFormSubmitted && f.markDescriptionId.errors" class="invalid-feedback">
                            <div *ngIf="f.markDescriptionId.errors.required">Description id required.</div>
                        </div>
                    </div>
                    <button class="btn btn-outline-dark">Save</button>
                </form>
            </div>
            <!-- EDIT MARK FORM -->
            <button class="d-none" id="showEditMarkFormButton" data-toggle="collapse" data-target="#collapseEditMarkForm"></button>
            <div class="col-6 collapse mb-3" id="collapseEditMarkForm" data-parent="#collapseMarksForms">
                <h6 class="mt-2">Edit Mark</h6>
                <form [formGroup]="editMarkForm" (ngSubmit)="onEditFormSubmit()">
                    <div class="form-group">
                        <label for="">Student</label>
                        <input type="text" formControlName="student" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="">Mark</label>
                        <select class="form-control" formControlName="value"
                        [ngClass]="{'is-invalid': editMarkFormSubmitted && ef.value.errors }">
                            <option value="2.0">2.0</option>
                            <option value="3.0">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5.0">5.0</option>
                        </select>
                        <div *ngIf="editMarkFormSubmitted && ef.value.errors" class="invalid-feedback">
                            <div *ngIf="ef.value.errors.required">Value id required.</div>
                        </div>
                    </div>
                    <div class="form-check">               
                        <input type="checkbox" formControlName="final" class="form-check-input" (change)="onEditMarkFinalChange()">
                        <label class="form-check-label">Final</label>
                    </div>
                    <br>
                    <div *ngIf="editMarkDescriptionVisible" class="form-group">
                        <label for="">Description</label>
                        <select class="form-control" formControlName="markDescriptionId"
                        [ngClass]="{'is-invalid': editMarkFormSubmitted && ef.markDescriptionId.errors }">
                            <option value=""></option>
                            <option *ngFor="let mD of markDescs" value="{{ mD.id }}">{{ mD.text }}</option>
                        </select>
                        <div *ngIf="editMarkFormSubmitted && ef.markDescriptionId.errors" class="invalid-feedback">
                            <div *ngIf="ef.markDescriptionId.errors.required">Description id required.</div>
                        </div>
                    </div>
                    <button class="btn btn-outline-dark">Save</button>
                </form>
            </div>
        </div>
        <table class="marks-table mb-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="2">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of members; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>
                        <div class="d-inline">
                            <span>{{ m.firstName }} {{ m.lastName }}</span>
                        </div>
                        <div class="d-inline" style="float: right;">
                            <span *ngIf="!m.note" class="btn badge badge-success badge-pill ml-2" (click)="selectNoteUser(m)" data-toggle="modal" data-target="#addNoteModal">
                                + <i class="fas fa-sticky-note"></i>
                           </span>
                           <span *ngIf="m.note" class="btn badge badge-info badge-pill ml-2" (click)="editNote(m)" data-toggle="modal" data-target="#editNoteModal"><i class="fas fa-sticky-note"></i></span>
                        </div>
                        <span style="clear: both;"></span> 
                    </td>
                    <td>{{ m.albumNumber }}</td>
                    <span *ngFor="let mark of getNotFinalMarks(m.marks); let i = index;">
                        <td *ngIf="!mark.final" class="mark text-center" style="cursor: pointer;" (click)="showMarkDetails(mark.id)">{{ printMark(mark.value) }}</td>
                        <br *ngIf="i > 0 && i % 14 === 0">
                    </span>
                    <td *ngIf="marksLengthWithoutFinal(m.marks) !== 0" class="bg-info text-white">{{ calculateAverage(m.marks) }}</td>
                    <td class="bg-danger" *ngIf="hasFinalMark(m.marks)" style="cursor: pointer;" (click)="showMarkDetails(getFinalMark(m.marks).id)">{{ getFinalMark(m.marks).value }}</td>
                    <td style="border:none" *ngIf="!hasFinalMark(m.marks)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!members" class="col-md-6 mt-5">
        <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border m-auto" style="width: 6rem; height: 6rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<box-modal id="mark-modal" [bodyClasses]="getMarkModalClasses()">
    <div class="row">
        <div class="ml-auto mr-3 mt-2">
            <i class="fas fa-times" (click)="closeModal('mark-modal')" style="cursor: pointer;"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mark-details [markId]="selectedMarkId" (markDeleted)="onMarkDeleted()" (markEdited)="onMarkEdited($event)"></mark-details>
        </div>
    </div>
</box-modal>

<!-- Add Note Modal -->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNoteModalLabel">Student Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="addNoteForm" (ngSubmit)="onAddNoteFormSubmit()">
            <div class="modal-body">
                <label *ngIf="selectedNoteUser">Student: 
                    <span class="font-weight-bold">{{ selectedNoteUser.firstName }} {{ selectedNoteUser.lastName }}</span>
                </label>
                <div class="form-group">
                    <textarea cols="30" rows="10" class="form-control" formControlName="text"
                    [ngClass]="{'is-invalid': addNoteFormSubmitted && this.nf.text.errors}"></textarea>
                    <div *ngIf="addNoteFormSubmitted && this.nf.text.errors" class="invalid-feedback">
                        <div *ngIf="this.nf.text.errors.maxlength">Text cannot be longer than 500 characters.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseAddNoteModal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit Note Modal -->
<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editNoteModalLabel">Student Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="editNoteForm" (ngSubmit)="onEditNoteFormSubmit()">
            <div class="modal-body">
                <label *ngIf="selectedNoteUser">Student: 
                    <span class="font-weight-bold">{{ selectedNoteUser.firstName }} {{ selectedNoteUser.lastName }}</span>
                </label>
                <div class="form-group">
                    <textarea cols="30" rows="10" class="form-control" formControlName="text"
                    [ngClass]="{'is-invalid': editNoteFormSubmitted && this.enf.text.errors }"></textarea>
                    <div *ngIf="editNoteFormSubmitted && this.enf.text.errors" class="invalid-feedback">
                        <div *ngIf="this.enf.text.errors.maxlength">Text cannot be longer than 500 characters.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button *ngIf="selectedNoteUser && selectedNoteUser.note" type="button" class="btn btn-danger" (click)="deleteNote(selectedNoteUser.note.id)">DELETE</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseEditNoteForm">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ADD MARK MODAL -->
  <div class="modal fade" id="addMarkModal" tabindex="-1" role="dialog" aria-labelledby="addMarkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMarkModalLabel">Add Mark</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 600px; overflow: auto;">
            <form [formGroup]="addMarkForm2">
                <div class="form-check">               
                    <input type="checkbox" formControlName="final" class="form-check-input" (change)="onAddMark2FinalChange()">
                    <label class="form-check-label">Final</label>
                </div>
                <br>
                <div class="form-group" [ngClass]="{'d-none': !addMark2DescriptionVisible }">
                    <label for="">Description</label>
                    <select class="form-control" formControlName="markDescriptionId"
                    [ngClass]="{'is-invalid': addMarkForm2Submitted && f2.markDescriptionId.errors }">
                        <option value=""></option>
                        <option *ngFor="let mD of markDescs" value="{{ mD.id }}">{{ mD.text }}</option>
                    </select>
                    <div *ngIf="addMarkForm2Submitted && f2.markDescriptionId.errors" class="invalid-feedback">
                        <div *ngIf="f2.markDescriptionId.errors.required">Description id required.</div>
                    </div>
                </div>
            </form>

            <table class="add-mark-table">
                <thead>
                    <th>#</th>
                    <th colspan="2" class="text-center">Student</th>
                    <th [attr.colspan]="markValues.length" class="text-center">Marks</th>
                </thead>
                <tbody>
                    <tr *ngFor="let m of members; let i = index;">
                        <td>{{ i+1 }}</td>
                        <td>{{ m.firstName }} {{ m.lastName }}</td>
                        <td>{{ m.albumNumber }}</td>
                        <td *ngFor="let v of markValues" (click)="addMark(m.id, v)" class="mark-td">{{ v }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>