<div class="">
    <!-- ARROW BACK -->
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/groups" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>  
    <!-- GROUP DETAILS MENU -->
    <div class="row mt-3 ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/general" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/attendance" class="nav-link">Attendance</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/marks" class="nav-link active">Marks</a>
            </li>
        </ul>
    </div>
    <!-- GROUP EVENTS -->
    <h5 class="mt-5">Marks</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div class="ml-3">
        <table class="marks-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="2">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of members; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ m.User.firstName }} {{ m.User.lastName }}</td>
                    <td>{{ m.User.albumNumber }}</td>
                    <td *ngFor="let mark of m.User.Marks" class="mark text-center" style="cursor: pointer;" (click)="showMarkDetails(mark.id)">{{ printMark(mark.value) }}</td>
                    <td *ngIf="m.User.Marks.length !== 0" class="bg-info text-white">{{ calculateAverage(m.User.Marks) }}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-dark mt-2 mb-3" data-toggle="collapse" data-target="#collapseAddMarkForm">Add Mark</button>
    </div>
    <div class="col-6" id="collapseMarksForms">
        <!-- ADD MARK FORM -->
        <div class="col-6 collapse mb-3" id="collapseAddMarkForm" data-parent="#collapseMarksForms">
            <h6 class="mt-2">Add Mark</h6>
            <form [formGroup]="addMarkForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Students</label>
                    <select multiple class="form-control" formControlName="ids">
                        <option *ngFor="let m of members" value="{{ m.User.id }}">{{ m.User.firstName }} {{ m.User.lastName }} {{ m.User.albumNumber }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Mark</label>
                    <select class="form-control" formControlName="value">
                        <option value="2.0">2.0</option>
                        <option value="3.0">3.0</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <!-- <input type="number" min="2.0" max="5.0" step="0.5" class="form-control" formControlName="value"> -->
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <select class="form-control" formControlName="description">
                        <option value="Test">Test</option>
                        <option value="Aktywność">Aktywność</option>
                        <option value="Kolowium">Kolowium</option>
                        <option value="Ocena końcowa">Ocena końcowa</option>
                    </select>
                </div>
                <button class="btn btn-outline-dark">Save</button>
            </form>
        </div>
        <!-- EDIT MARK FORM -->
        <button class="d-none" id="showEditMarkFormButton" data-toggle="collapse" data-target="#collapseEditMarkForm"></button>
        <div class="col-6 collapse mb-3" id="collapseEditMarkForm" data-parent="#collapseMarksForms">
            <h6 class="mt-2">Edit Mark</h6>
            <form [formGroup]="editMarkForm" (ngSubmit)="onEditFormSubmit()">
                <div class="form-group">
                    <label for="">Student</label>
                    <input type="text" formControlName="student" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Mark</label>
                    <select class="form-control" formControlName="value">
                        <option value="2.0">2.0</option>
                        <option value="3.0">3.0</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <!-- <input type="number" min="2.0" max="5.0" step="0.5" class="form-control" formControlName="value"> -->
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <select class="form-control" formControlName="description">
                        <option value="Test">Test</option>
                        <option value="Aktywność">Aktywność</option>
                        <option value="Kolowium">Kolowium</option>
                        <option value="Ocena końcowa">Ocena końcowa</option>
                    </select>
                </div>
                <button class="btn btn-outline-dark">Save</button>
            </form>
        </div>
    </div>
</div>

<box-modal id="mark-modal" [bodyClasses]="getMarkModalClasses()">
    <div class="row">
        <div class="ml-auto mr-3 mt-2">
            <i class="fas fa-times" (click)="closeModal('mark-modal')" style="cursor: pointer;"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mark-details [markId]="selectedMarkId" (markDeleted)="onMarkDeleted()" (markEdited)="onMarkEdited($event)"></mark-details>
        </div>
    </div>
</box-modal>