<div class="mt-2">
     <!-- NEWS MENU -->
     <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/news/categories">Categories</a>
            </li>
        </ul>
    </div>
    <!-- NEWS TABLE MENU -->
    <div class="row mt-3">
        <div class="col-9">
            <div class="row">
                <!-- Add news -->
                <div class="col-2">
                    <a routerLink="/admin/news/add_news" class="btn btn-success">+ Add News</a>
                </div>

                <div class="col-2">

                </div>
                <!-- COUNT RECORDS -->
                <div *ngIf="pagination" class="col-2 offset-2">
                    <button [ngClass]="{disabled: !pagination.prev }" class="btn btn-outline-dark" (click)="prevPage()"><</button>
                    <span class="mx-2">{{ this.currentPage }} of {{ this.totalPages }}</span>
                    <button [ngClass]="{disabled: !pagination.next }" class="btn btn-outline-dark" (click)="nextPage()">></button>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <div><span style="font-weight: 700;">{{ this.countTotal }}</span> records found.</div>
                </div>
                <!-- ITEMS PER PAGE -->
                <div class="col-2 ml-auto">
                    <div class="row px-0">
                        <div class="col">
                            <select class="form-control" [formControl]="itemsPerPageControl" (change)="setItemsPerPage(this.itemsPerPageControl.value)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col d-flex justify-content-left align-items-center px-0">
                            <span class="d-block">per page</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-9">
            <div class="table-responsive">
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col" colspan="3">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="news">
                        <tr *ngFor="let n of news; let i = index">
                            <td>{{ i+1 }}</td>
                            <td class="text-truncate" title="{{ n.title }}" style="max-width: 300px;">{{ n.title }}</td>
                            <td>{{ n.User.firstName }} {{ n.User.lastName }}</td>
                            <td>{{ printDate(n.created_at) }}</td>
                            <td colspan="3">
                                <!-- VISIBILITY -->
                                <span *ngIf="n.isVisible" class="btn badge badge-success badge-pill mx-2" (click)="changeVisibility(n.id)" title="News is visible"><i class="fas fa-eye"></i></span>
                                <span *ngIf="!n.isVisible" class="btn badge badge-danger badge-pill mx-2" (click)="changeVisibility(n.id)" title="News is invisible"><i class="fas fa-eye"></i></span>
                                <!-- COMMENTS -->
                                <span *ngIf="n.isCommentable" class="btn badge badge-success badge-pill mx-2" (click)="changeCommentable(n.id)" title="Comments on"><i class="fas fa-comment"></i></span>
                                <span *ngIf="!n.isCommentable" class="btn badge badge-danger badge-pill mx-2" (click)="changeCommentable(n.id)" title="Comments off"><i class="fas fa-comment"></i></span>
                                <!-- LOGIN PROTECT -->
                                <span *ngIf="n.isLoginProtected" class="btn badge badge-warning badge-pill mx-2" (click)="changeProtected(n.id)" title="Login required"><i class="fas fa-lock"></i></span>
                                <span *ngIf="!n.isLoginProtected" class="btn badge badge-secondary badge-pill mx-2" (click)="changeProtected(n.id)" title="Login not required"><i class="fas fa-lock"></i></span>
                            </td>
                            <td class="text-right">
                                <span class="btn badge badge-info badge-pill ml-1" (click)="editNews(n.id)"><i class="fas fa-pen"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteNews(n.id)"><i class="fas fa-trash-alt"></i></span>
                            </td>                     
                        </tr>
                         <!-- NO MATCHING RESULTS -->
                        <tr *ngIf="news.length == 0">
                            <td colspan="8" class="text-center">
                                No matching results.
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!news">
                        <tr>
                            <td colspan="10">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border m-auto" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title" formControlName="title">
                        </div>
                        <button class="btn btn-outline-dark form-control">
                            Filter
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   