<div class="mt-2">
     <!-- NEWS MENU -->
     <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users/inactive">Categories</a>
            </li>
        </ul>
    </div>      
    <div class="row mt-3">
        <div class="col-8">
            <div *ngIf="news">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Only for logged</th>
                            <th scope="col">Commentable</th>
                            <th scope="col">Visible</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let n of news; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ n.title }}</td>
                            <td><input type="checkbox" [checked]="n.isLoginProtected" (click)="changeProtected(n.id)"></td>
                            <td><input type="checkbox" [checked]="n.isCommentable" (click)="changeCommentable(n.id)"></td>
                            <td><input type="checkbox" [checked]="n.isVisible" (click)="changeVisibility(n.id)"></td>
                            <td>{{ printDate(n.created_at) }}</td>
                            <td>
                                <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                                <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                            </td>                     
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
        <a routerLink="/admin/news/add_news" class="btn btn-success">Add New News</a>
        </div>
    </div>
</div>   