<div class="">
    <!-- CONTACT MENU -->
    <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/contact/university" >University</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/contact/terms" >Registration Terms</a>
            </li>
        </ul>
    </div>           
    <div class="row mt-3">
        <div class="col-9">
            <h5>Edit Contact Info</h5>
            <hr>
            <form [formGroup]="editContactForm" (ngSubmit)="onSubmit()">
                <h6>Address</h6>
                <div class="form-row">
                    <div class="col">
                        <label for="">Country</label>
                        <input type="text" formControlName="country" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.country.errors }"/>
                        <div *ngIf="submitted && this.f.country.errors" class="invalid-feedback">
                            <div *ngIf="this.f.country.errors.maxlength">Country cannot be longer than 50 characters.</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="">City</label>
                        <input type="text" formControlName="city" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.city.errors }"/>
                        <div *ngIf="submitted && this.f.city.errors" class="invalid-feedback">
                            <div *ngIf="this.f.city.errors.maxlength">City cannot be longer than 50 characters.</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Street</label>
                        <input type="text" formControlName="street" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.street.errors }"/>
                        <div *ngIf="submitted && this.f.street.errors" class="invalid-feedback">
                            <div *ngIf="this.f.street.errors.maxlength">Street cannot be longer than 50 characters.</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="">ZIP Code</label>
                        <input type="text" formControlName="postalCode" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.postalCode.errors }"/>
                        <div *ngIf="submitted && this.f.postalCode.errors" class="invalid-feedback">
                            <div *ngIf="this.f.postalCode.errors.pattern">Allowed format: NN-NNN. N - number 0 to 9.</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Room</label>
                        <input type="text" formControlName="room" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.room.errors }"/>
                        <div *ngIf="submitted && this.f.room.errors" class="invalid-feedback">
                            <div *ngIf="this.f.room.errors.maxlength">Country cannot be longer than 10 characters.</div>
                        </div>
                    </div>
                </div>
                
               
                <h6 class="mt-2">Contact</h6>
                <div class="form-row">
                    <div class="col">
                        <label for="">Email</label>
                        <input type="text" formControlName="email" class="form-control" >
                    </div>
                    <div class="col">
                        <label for="">Phone</label>
                        <input type="text" formControlName="phone" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.phone.errors }"/>
                        <div *ngIf="submitted && this.f.phone.errors" class="invalid-feedback">
                            <div *ngIf="this.f.phone.errors.maxlength">Phone cannot be longer than 20 characters.</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Web Page</label>
                        <input type="text" formControlName="webPage" class="form-control"
                        [ngClass]="{'is-invalid': submitted && this.f.webPage.errors }"/>
                        <div *ngIf="submitted && this.f.webPage.errors" class="invalid-feedback">
                            <div *ngIf="this.f.webPage.errors.pattern">Web Page must starts with http:// or https://.</div>
                        </div>
                    </div>
                </div>
                
                <h6 class="mt-2">Other Info</h6>
                <div class="form-row">
                    <div class="col-4">
                        <div class="col-12">
                            <label for="">Consultations</label>
                            <input type="text" formControlName="consultations" class="form-control"
                            [ngClass]="{'is-invalid': submitted && this.f.consultations.errors }"/>
                            <div *ngIf="submitted && this.f.consultations.errors" class="invalid-feedback">
                                <div *ngIf="this.f.consultations.errors.maxlength">Consultations cannot be longer than 50 characters.</div>
                            </div>
                            <label for="">Short Information</label>
                            <textarea type="text" formControlName="shortInformation" class="form-control" rows="5"
                            [ngClass]="{'is-invalid': submitted && this.f.shortInformation.errors }"></textarea>
                            <div *ngIf="submitted && this.f.shortInformation.errors" class="invalid-feedback">
                                <div *ngIf="this.f.shortInformation.errors.maxlength">Short Information cannot be longer than 500 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="">Calendar URL</label>
                            <input type="text" formControlName="calendarUrl" class="form-control"
                            [ngClass]="{'is-invalid': submitted && this.f.calendar.errors }">
                            <div *ngIf="submitted && this.f.calendar.errors" class="invalid-feedback">
                                <div *ngIf="this.f.calendar.errors.pattern">Calendar URL must starts with http:// or https://</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button class="btn btn-outline-dark mt-2">Save</button>
            </form>
            <!-- Contact Links -->
            <h6 class="mt-2">Contact Links</h6>
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-success" data-toggle="collapse" data-target="#addContactLinkCollapse">
                        + Add Link
                    </button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-3">
                    <div class="collapse" id="addContactLinkCollapse">
                        <form [formGroup]="addContactLinkForm" (ngSubmit)="onAddContactLinkSubmit()">
                            <div class="form-group">
                                <label for="">Caption</label>
                                <input type="text" class="form-control" formControlName="caption"
                                [ngClass]="{'is-invalid': addLinkSubmitted && this.aL.caption.errors }"/>
                                <div *ngIf="addLinkSubmitted && this.aL.caption.errors" class="invalid-feedback">
                                    <div *ngIf="this.aL.caption.errors.maxlength">Caption cannot be longer than 100 characters.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Href</label>
                                <input type="text" class="form-control" formControlName="href"
                                [ngClass]="{'is-invalid': addLinkSubmitted && this.aL.href.errors }"/>
                                <div *ngIf="addLinkSubmitted && this.aL.href.errors" class="invalid-feedback">
                                    <div *ngIf="this.aL.href.errors.pattern">Href must starts with http:// or https://.</div>
                                </div>
                            </div>
                            <button class="btn btn-outline-dark">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <th scope="col">#</th>
                                <th scope="col">Caption</th>
                                <th scope="col">Href</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of contactLinks; let i = index;">
                                    <td>{{ i+1 }}</td>
                                    <td class="text-truncate" style="max-width: 200px;" title="{{ l.caption }}">{{ l.caption }}</td>
                                    <td class="text-truncate" style="max-width: 200px;" title="{{ l.href }}">{{ l.href }}</td>
                                    <td class="text-right">
                                        <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteLink(l._id)"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   