<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/slider" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>             
    <div class="row mt-3">
        <div class="col-3">
            <h5>Add Slider Image</h5>
            <hr>
            <form [formGroup]="addSliderImageForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Image</label>
                    <!-- <input formControlName="photo" type="file" class="form-control-file" (change)="onPhotoFileChange($event)"> -->
                    <div class="row">
                        <div class="col-6">
                            <img src="{{ photoUrl }}" alt="Image preview" class="image-preview">
                        </div>
                        <div class="col-6">
                            <input type="file" accept="image/*" (change)="showPreview($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Caption</label>
                    <input type="text" formControlName="caption" class="form-control"
                    [ngClass]="{'is-invalid': submitted && this.f.caption.errors }">
                    <div *ngIf="submitted && this.f.caption.errors" class="invalid-feedback">
                        <div *ngIf="this.f.caption.errors.maxlength">Caption cannot be longer than 50 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Second Caption</label>
                    <input type="text" formControlName="secondCaption" class="form-control"
                    [ngClass]="{'is-invalid': submitted && this.f.secondCaption.errors }">
                    <div *ngIf="submitted && this.f.secondCaption.errors" class="invalid-feedback">
                        <div *ngIf="this.f.secondCaption.errors.maxlength">Second caption cannot be longer than 50 characters.</div>
                    </div>
                </div>
                <button class="btn btn-outline-dark mt-2">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>   