<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/groups/specializations" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>         
    <div class="row mt-3">
        <div class="col-8">
            <h5>Edit Specialization</h5>
            <hr style="width: 50%; margin-left: 0;">
            <div *ngIf="specLoaded" class="col-4">
                <form [formGroup]="editSpecializationForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="">Course</label>
                        <select formControlName="courseId" class="form-control">
                            <option value=""></option>
                            <option *ngFor="let course of courses" value="{{ course.id }}" >{{ course.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" formControlName="name"/>
                    </div>
                    <div class="form-group">
                        <label for="">Short</label>
                        <input type="text" class="form-control" formControlName="short" />
                    </div>
                    <br>
                    <button class="btn btn-outline-dark" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>   