<div class="">
    <div class="row mt-3">
        <div class="ml-3">
            <button class="btn btn-info" data-toggle="modal" data-target="#fileUploadModal" id="btnFileUploadModal">
                <i class="fa fa-upload" aria-hidden="true"></i> Upload File
            </button>
            <button class="btn btn-warning ml-1" (click)="downloadMySqlFile()">
                <i class="fa fa-download" aria-hidden="true"></i> MySQL File
            </button> 
        </div>
    </div>
   <div class="row mt-1">
       <div class="col-8">
            <div>
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">News Title</th> -->
                            <th scope="col">File Name</th>
                            <th scope="col">File Size</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="files">
                        <tr *ngFor="let f of files; let i = index">
                            <td>{{ i+1 }}</td>
                            <!-- <td>{{ f.News.title }}</td> -->
                            <td>{{ f.name }}</td>
                            <td>{{ parseFileSize(f.size) }}</td>                        
                            <td class="text-right">
                                <span class="btn badge badge-secondary badge-pill" (click)="downloadFile(f.id, f.name, f.type)"><i class="fa fa-download" aria-hidden="true"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteFile(f.id)"><i class="fas fa-trash-alt"></i></span>
                            </td>                     
                        </tr>
                         <!-- NO MATCHING RESULTS -->
                         <tr *ngIf="files.length == 0">
                            <td colspan="5" class="text-center">
                                No matching results.
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!files">
                        <tr>
                            <td colspan="10">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border m-auto" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
       </div>
   </div>
</div>
<!-- FILE UPLOAD MODAL -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Upload File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">      
                <div class="form-group">
                    <label for="">File</label>
                    <input #fileInput type="file" class="form-control-file" (change)="onFileChange($event)">
                </div>
            </div>
                <div class="row">
                    <div class="col-10 offset-1 mb-3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="uploadProgress" aria-valuemin="0" aria-valuemax="100">
                                {{ uploadProgress }}%
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info">Upload</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  