<div class="mt-2">
    <!-- USERS MENU -->
    <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users">Active users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/users/inactive" >Inactive users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users/blocked">Blocked users</a>
            </li>
        </ul>
    </div>
    <!-- USERS TABLE MENU -->
    <div class="row mt-3">
        <div class="col-9">
            <div class="row">
                <!-- ACTIONS -->
                <div class="col-2">
                    <select class="form-control" id="actions-select" [disabled]="selectedItems.length === 0" (change)="onActionsSelectChange($event)">
                        <option value="">Actions</option>
                        <option value="activate-many">Activate Many</option>
                        <option value="delete-many">Delete Many</option>
                    </select>
                </div>
                <!-- ADD USER -->
                <div class="col-2">
                    <a routerLink="/admin/users/add_user" class="btn btn-success form-control">+ Add User</a>
                </div>
                <!-- COUNT RECORDS -->
                <div *ngIf="pagination" class="col-2 offset-2">
                    <button [ngClass]="{disabled: !pagination.prev }" class="btn btn-outline-dark" (click)="prevPage()"><</button>
                    <span class="mx-2">{{ this.currentPage }} of {{ this.totalPages }}</span>
                    <button [ngClass]="{disabled: !pagination.next }" class="btn btn-outline-dark" (click)="nextPage()">></button>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <div><span style="font-weight: 700;">{{ this.countTotal }}</span> records found.</div>
                </div>
                <!-- ITEMS PER PAGE -->
                <div class="col-2 ml-auto">
                    <div class="row px-0">
                        <div class="col">
                            <select class="form-control" [formControl]="itemsPerPageControl" (change)="setItemsPerPage(this.itemsPerPageControl.value)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col d-flex justify-content-left align-items-center px-0">
                            <span class="d-block">per page</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- USERS LIST CONTENT -->
    <div class="row mt-1">
        <!-- USERS TABLE -->
        <div class="col-9">
            <div *ngIf="users">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"><input type="checkbox" (click)="selectOrUnselectAllItems()" id="select-all"/></th>
                            <th scope="col" class="sort-header" (click)="sortBy('email')">Email 
                                <i *ngIf="sort.property === 'email' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'email' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>
                            <th scope="col" class="sort-header" (click)="sortBy('firstName')">First Name
                                <i *ngIf="sort.property === 'firstName' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'firstName' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>
                            <th scope="col" class="sort-header" (click)="sortBy('lastName')">Last Name
                                <i *ngIf="sort.property === 'lastName' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'lastName' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>   
                            <th scope="col" class="sort-header" (click)="sortBy('role')">Role    
                                <i *ngIf="sort.property === 'role' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'role' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>
                            <th scope="col" class="sort-header" (click)="sortBy('albumNumber')">Album number
                                <i *ngIf="sort.property === 'albumNumber' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'albumNumber' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>
                            <th scope="col" class="sort-header" (click)="sortBy('created_at')">Registration Date
                                <i *ngIf="sort.property === 'created_at' && sort.order === 'ASC'" class="fas fa-arrow-up"></i>
                                <i *ngIf="sort.property === 'created_at' && sort.order === 'DESC'" class="fas fa-arrow-down"></i>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index">
                            <td><input type="checkbox" (click)="selectOrUnselectItem(user.id)" class="user-select"/></td>
                            <td class="text-truncate" style="max-width: 200px;" title="{{ user.email }}">{{ user.email }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.role }}</td>
                            <td>{{ user.albumNumber }}</td>
                            <td>{{ printDate(user.created_at) }}</td>
                            <td class="text-right">
                                <span class="btn badge badge-secondary badge-pill" (click)="activateUserAccount(user.id)"><i class="fas fa-check"></i></span>
                                <span class="btn badge badge-danger badge-pill ml-1" (click)="setUserToDelete(user.id)" data-toggle="modal" data-target="#deleteUserConfirmationModal"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="users.length == 0">
                            <td colspan="8" class="text-center">No matching results.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- USERS FILTER-->
        <div class="col-3">
            <div class="card border-dark mb-3">
                <div class="card-header text-center" data-toggle="collapse" data-target="#collapseFilter" style="cursor: pointer;" (click)="filterOnOff()">
                    Filter <i *ngIf="!filterOn" class="far fa-caret-square-down"></i><i *ngIf="filterOn" class="far fa-caret-square-up"></i>
                </div>
                <div id="collapseFilter" class="collapse">
                    <div class="card-body">
                        <form [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit()">
                            <div class="from-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" formControlName="email"/> 
                            </div>
                            <div class="from-group">
                                <label for="">First Name</label>
                                <input type="text" class="form-control" formControlName="firstName"/> 
                            </div>
                            <div class="from-group">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" formControlName="lastName"/> 
                            </div>
                            <div class="form-group">
                                <label for="">Role</label>
                                <select class="form-control" formControlName="role">
                                    <option></option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                    <option value="student">Student</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Album Number</label>
                                <input type="text" class="form-control" formControlName="albumNumber"/> 
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-outline-dark form-control mt-3" type="submit">Filter</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-outline-secondary form-control mt-3" type="button" (click)="resetFilterForm()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODALS -->
<!-- USERS DELETE CONFIRMATION MODAL -->
<button class="btn btn-primary d-none" id="btnDeleteManyConfirmationModal" data-target="#deleteManyConfirmationModal" data-toggle="modal">  
</button>
<div class="modal fade" id="deleteManyConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteManyConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteManyConfirmationModalLabel"><i class="fas fa-exclamation-circle text-danger"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Do you really want to delete these records? This process cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSelectedUsers()">DELETE</button>
        </div>
        </div>
    </div>
</div>
<!-- USERS ACTIVATION CONFIRMATION MODAL -->
<button class="btn btn-primary d-none" id="btnActivateManyConfirmationModal" data-target="#activateManyConfirmationModal" data-toggle="modal">  
</button>
<div class="modal fade" id="activateManyConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="activateManyConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="activateManyConfirmationModalLabel"><i class="fas fa-exclamation-circle text-dark"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Do you really want to activate these user accounts?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="activateSelectedUsers()">ACTIVATE</button>
        </div>
        </div>
    </div>
</div>
<!-- USER DELETE CONFIRMATION MODAL -->
<div class="modal fade" id="deleteUserConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteUserConfirmationModalLabel"><i class="fas fa-exclamation-circle text-danger"></i> Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Do you really want to delete this user? This process cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setUserToDelete(null)">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">DELETE</button>
        </div>
        </div>
    </div>
</div>