<div class="">
    <div class="row">
        <div class="col-8">
            <a routerLink="/admin/users" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>             
    <div class="row mt-3">
        <div class="col-3">
            <h5>Edit User</h5>
            <hr>
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Email</label>
                    <input class="form-control" type="email" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required.</div>
                        <div *ngIf="f.email.errors.email">Please provide a valid email.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input class="form-control" type="password" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required.</div>
                        <div *ngIf="f.password.errors.pattern">The password must be at least 8 characters long and maximum 16 characters long,
                            contains upper and lower case letters, a number and a special character.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input class="form-control" type="password" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Password Confirmation is required.</div>
                        <div *ngIf="f.confirmPassword.errors.notMatch && !f.confirmPassword.errors.required">Passwords must be the same.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">First Name</label>
                    <input class="form-control" type="text" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                        <div *ngIf="f.firstName.errors.pattern">First Name cannot contains any special characters or digits.</div>
                        <div *ngIf="f.firstName.errors.maxlength">First Name cannot be longer than 30 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input class="form-control" type="text" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
                        <div *ngIf="f.lastName.errors.pattern">Last Name cannot contains any special characters or digits.</div>
                        <div *ngIf="f.lastName.errors.maxlength">Last Name cannot be longer than 30 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Role</label>
                    <select class="form-control" formControlName="role" (change)="onRoleChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                        <option value="user">User</option>
                        <option value="student">Student</option>
                    </select>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div *ngIf="f.role.errors.required">Role is required.</div>
                    </div>
                </div>
                <div class="form-group d-none" id="albumNumber">
                    <label for="">Album Number</label>
                    <input class="form-control" type="text" formControlName="albumNumber"
                        [ngClass]="{ 'is-invalid': submitted && f.albumNumber.errors }"/>
                    <div *ngIf="submitted && f.albumNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.albumNumber.errors?.required">Album Number is required.</div>
                        <div *ngIf="f.albumNumber.errors?.pattern">Album number must consist of exacly 6 digits.</div>
                    </div>
                </div>
                <button class="btn btn-outline-dark mt-2">Save</button>
            </form>
        </div>
    </div>
</div>   