<div class="container">
    <div class="col-12 border-bottom">
        <h4 class="text-muted">My Groups</h4>
    </div>
    <!-- If Student has at least one group -->
    <div *ngIf="groups && groups.length > 0" class="mt-3">
        <div class="col-md-12 col-lg-8 mt-3">
            <form [formGroup]="selectGroupForm">
                <div class="form-group">
                    <label for="groupName">Group</label>
                    <select formControlName="selectGroup" class="form-control" (change)="onSelectGroupChange()">
                        <option *ngFor="let g of groups" value="{{ g.Group.id }}">{{ g.Group.displayName }}</option>
                    </select>
                </div>
            </form> 
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Events</h5>
                <ul class="list-group">
                    <li *ngFor="let e of events" class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-truncate" title="{{ printDate(e.date) }} {{ e.name }}">
                            <span class="text-muted mr-1">{{ printDate(e.date) }}</span>
                            {{ e.name }}
                        </div>
                        <span *ngIf="e.Presences[0].isConfirmed" class="badge badge-success badge-pill"><i class="fas fa-check"></i></span>
                        <span *ngIf="!e.Presences[0].isConfirmed && e.isOpen" class="btn badge badge-info badge-pill" (click)="confirmPresence(e.Presences[0].id)"><i class="fas fa-pen"></i></span>
                    </li>
                    <li *ngIf="!events || events.length === 0" class="list-group-item text-center">
                        No scheduled events for this group.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Attendance</h5>
                <div class="progress border border-dark">
                    <div class="progress-bar bg-secondary " role="progressbar" style="width: {{ attendance }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ attendance }}%</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Marks</h5>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="marks">
                      <tr *ngFor="let m of marks">
                        <td>{{ printDate(m.created_at) }}</td>
                        <td>{{ m.value }}</td>
                        <td *ngIf="m.MarkDescription" >{{ m.MarkDescription.text }}</td>
                        <td *ngIf="!m.MarkDescription" >-</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="!marks || marks.length === 0">
                        <tr>
                            <td colspan="3" class="text-center">You don't have any marks in this group.</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div *ngIf="!groups || groups.length === 0" class="mt-3 text-center">
        You do not belong to any group. <br><br>
        <a routerLink="/account/my_profile/find_group" class="btn btn-outline-dark">Find Group <i class="fas fa-arrow-right"></i></a>
    </div>
</div>