<div class="container">
    <div class="col-12 border-bottom">
        <h4 class="text-muted">My Groups</h4>
    </div>
    <div class="mt-3">
        <div class="col-md-12 col-lg-8 mt-3">
            <div class="form-group">
                <label for="groupName">Group</label>
                <select class="form-control">
                    <option value="">PRz_WEiI_Inf_2020/2021_Sieci_L1</option>
                    <option value="">PRz_WEiI_Inf_2020/2021_Sieci_L2</option>
                    <option value="">PRz_WEiI_Inf_2020/2021_Sieci_L3</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Events</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="text-muted mr-1">06.10.2020, 12:15 </span>
                            Laboratory 1
                        </div>
                        <span class="badge badge-success badge-pill"><i class="fas fa-check"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="text-muted mr-1">13.10.2020, 12:15 </span>
                            Laboratory 2
                        </div>
                        <span class="badge badge-success badge-pill"><i class="fas fa-check"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="text-muted mr-1">20.10.2020, 12:15 </span>
                            Laboratory 3
                        </div>
                        <!-- <span class="badge badge-success badge-pill"><i class="fas fa-check"></i></span> -->
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="text-muted mr-1">27.10.2020, 12:15 </span>
                            Laboratory 4
                        </div>
                        <span class="badge badge-success badge-pill"><i class="fas fa-check"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="text-muted mr-1">03.11.2020, 12:15 </span>
                            Laboratory 5
                        </div>
                        <!-- <span class="badge badge-success badge-pill"><i class="fas fa-check"></i></span> -->
                        <span class="badge badge-info badge-pill"><i class="fas fa-pen"></i></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Attendance</h5>
                <div class="progress border border-dark">
                    <div class="progress-bar bg-secondary " role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="mt-3">
                <h5>Marks</h5>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>06.10.2020, 12:31</td>
                        <td>3.5</td>
                        <td>Wejściówka</td>
                      </tr>
                      <tr>
                        <td>06.10.2020, 12:55</td>
                        <td>2.0</td>
                        <td>Aktywność</td>
                      </tr>
                      <tr>
                        <td>13.10.2020, 13:42</td>
                        <td>4.0</td>
                        <td>Test</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>