<div class="mt-2">
    <!-- GROUP DETAILS MENU -->
    <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ group.id }}/general" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ group.id }}/attendance" class="nav-link active">Attendance</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Marks</a>
            </li>
        </ul>
    </div>
    <!-- GROUP EVENTS -->
    <h5 class="mt-5">Group Events</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">1. </span> 
                    <span class="text-muted mr-1">06.10.2020, 12:15 </span>
                    Laboratory 1
                </div>
                <div class="actions-buttons">
                    <span class="badge badge-success badge-pill ml-1"><i class="fas fa-lock-open"></i></span>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">2. </span> 
                    <span class="text-muted mr-1">13.10.2020, 12:15 </span>
                    Laboratory 2
                </div>
                <div class="actions-buttons">
                    <span class="badge badge-success badge-pill ml-1"><i class="fas fa-lock-open"></i></span>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">3. </span> 
                    <span class="text-muted mr-1">20.10.2020, 12:15 </span>
                    Laboratory 3
                </div>
                <div class="actions-buttons">
                    <span class="badge badge-danger badge-pill"><i class="fas fa-lock"></i></span>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">4. </span> 
                    <span class="text-muted mr-1">27.10.2020, 12:15 </span>
                    Laboratory 4
                </div>
                <div class="actions-buttons">
                    <span class="badge badge-danger badge-pill"><i class="fas fa-lock"></i></span>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">5. </span> 
                    <span class="text-muted mr-1">03.11.2020, 12:15 </span>
                    Laboratory 5
                </div>
                <div class="actions-buttons">
                    <span class="badge badge-danger badge-pill"><i class="fas fa-lock"></i></span>
                    <span class="badge badge-info badge-pill ml-1"><i class="fas fa-pen"></i></span>
                    <span class="badge badge-danger badge-pill ml-1"><i class="fas fa-trash-alt"></i></span>
                </div> 
            </li>
        </ul>
        <button class="btn btn-outline-dark mt-2" data-toggle="collapse" data-target="#collapseAddEventForm">Add event</button>
    </div>
    <div class="col-6" id="collapseEventsForms">
        <div class="col-6 collapse" id="collapseAddEventForm" data-parent="#collapseEventsForms">
            <h6 class="mt-2">Add Event</h6>
            <form [formGroup]="eventForm">
                <div class="form-group">
                    <label for="">Event Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Event Date</label>
                    <input type="date" class="form-control">
                    <input type="time" class="form-control mt-1">
                </div>
                <button class="btn btn-outline-dark">Save</button>
            </form>
        </div>
    </div>
    <!-- GROUP MEMBERS AND ATTENDANCE -->
    <h5 class="mt-5">Attendance</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div class="ml-3 mb-3">
        <table class="attendance-table">
            <thead>
                <tr>
                    <th scope="col" colspan="3"></th>
                    <th colspan="5" scope="col">Events</th>
                </tr>
            </thead>
            <tbody>
                <!-- FIRST ROW FOR EVENTS -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="2">Student</th>
                    <td>1.</td>
                    <td>2.</td>
                    <td>3.</td>
                    <td>4.</td>
                    <td>5.</td>
                </tr>
                <!-- NG FOR OF MEMBERS -->
                <!-- Single member -->
                <tr>
                    <td>1</td>
                    <td>Mariusz Nowak</td>
                    <td>150012</td>
                    <!-- NG FOR OF EVENTS -->
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                </tr>
                <!-- Single member -->
                <tr>
                    <td>2</td>
                    <td>Gall Anonim</td>
                    <td>156200</td>
                    <!-- NG FOR OF EVENTS -->
                    <td><span class="badge badge-primary badge-pill text-primary"></span></td>
                    <td></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                </tr>
                <!-- Single member -->
                <tr>
                    <td>3</td>
                    <td>Jan Kowalski</td>
                    <td>156377</td>
                    <!-- NG FOR OF EVENTS -->
                    <td><span class="badge badge-primary badge-pill text-primary"></span></td>
                    <td></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                </tr>
                <!-- Single member -->
                <tr>
                    <td>4</td>
                    <td>Mikołaj Koza</td>
                    <td>156777</td>
                    <!-- NG FOR OF EVENTS -->
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                    <td><span class="badge badge-primary badge-pill text-primary"></span></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                </tr>
                <!-- Single member -->
                <tr>
                    <td>5</td>
                    <td>Tadeusz Walczyk</td>
                    <td>146500</td>
                    <!-- NG FOR OF EVENTS -->
                    <td><span class="badge badge-primary badge-pill text-primary"></span></td>
                    <td></td>
                    <td><span class="badge badge-primary badge-pill text-primary"></span></td>
                    <td><span class="badge badge-primary badge-pill text-primary">.</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>