<div class="mt-2">
    <!-- GROUP DETAILS MENU -->
    <div class="row ml-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/general" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/attendance" class="nav-link active">Attendance</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admin/groups/{{ groupId }}/marks" class="nav-link">Marks</a>
            </li>
        </ul>
    </div>
    <!-- GROUP EVENTS -->
    <h5 class="mt-5">Group Events</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div class="col-6">
        <ul class="list-group">
            <li *ngFor="let event of events; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">{{i+1}}. </span> 
                    <span class="text-muted mr-1">{{ printDate(event.date) }}</span>
                    {{ event.name }}
                </div>
                <div class="actions-buttons">
                    <!-- OPEN & CLOSE EVENT -->
                    <span *ngIf="event.isOpen" class="btn badge badge-success badge-pill" (click)="closeEvent(event.id)"><i class="fas fa-lock-open"></i></span>
                    <span *ngIf="!event.isOpen" class="btn badge badge-danger badge-pill" (click)="openEvent(event.id)"><i class="fas fa-lock"></i></span>
                    <!-- EDIT & DELETE -->
                    <span class="btn badge badge-info badge-pill ml-1" (click)="editEvent(event)">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="btn badge badge-danger badge-pill ml-1" (click)="deleteEvent(event.id)"><i class="fas fa-trash-alt"></i></span>
                </div> 
            </li>
        </ul>
        <button class="btn btn-outline-dark mt-2" data-toggle="collapse" data-target="#collapseAddEventForm" (click)="nullEventEditedId()">Add event</button>
        <button class="btn btn-outline-dark mt-2 d-none" id="editEventButton" data-toggle="collapse" data-target="#collapseEditEventForm"></button>
    </div>
    <div class="col-6" id="collapseEventForms">
        <!-- ADD EVENT FORM -->
        <div class="col-6 collapse" id="collapseAddEventForm" data-parent="#collapseEventForms">
            <h6 class="mt-2">Add Event</h6>
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Event Name</label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Event Date</label>
                    <input type="date" formControlName="dateDate" class="form-control">
                    <input type="time" formControlName="dateTime" class="form-control mt-1">
                </div>
                <button class="btn btn-outline-dark">Save</button>
            </form>
        </div>
        <!-- EDIT EVENT FORM -->
        <div class="col-6 collapse" id="collapseEditEventForm" data-parent="#collapseEventForms">
            <h6 class="mt-2">Edit Event</h6>
            <form [formGroup]="editEventForm" (ngSubmit)="onEditEventFormSubmit()">
                <div class="form-group">
                    <label for="">Event Name</label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Event Date</label>
                    <input type="date" formControlName="dateDate" class="form-control">
                    <input type="time" formControlName="dateTime" class="form-control mt-1">
                </div>
                <button class="btn btn-outline-dark">Save</button>
            </form>
        </div>
    </div>
    <!-- GROUP MEMBERS AND ATTENDANCE -->
    <h5 class="mt-5">Attendance</h5>
    <hr style="width: 50%; margin-left: 0;">
    <div class="ml-3 mb-3">
        <table *ngIf="events" class="attendance-table">
            <thead>
                <tr>
                    <th scope="col" colspan="3"></th>
                    <th *ngIf="events.length != 0" [attr.colspan]="events.length" scope="col">Events</th>
                </tr>
            </thead>
            <tbody>
                <!-- FIRST ROW FOR EVENTS -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="2">Student</th>
                    <td *ngFor="let e of events; let i = index">{{ i+1 }}.</td>
                </tr>
                <!-- NG FOR OF MEMBERS -->
                <!-- Single member -->
                <tr *ngFor="let a of attendance; let i = index;">
                    <td>{{ i+1 }}.</td>
                    <td>{{ a.User.firstName }} {{ a.User.lastName }}</td>
                    <td>{{ a.User.albumNumber }}</td>
                    <!-- NG FOR OF EVENTS -->
                    <td *ngFor="let p of a.User.Presences"><span *ngIf="p.isConfirmed" class="badge badge-primary badge-pill text-primary">.</span></td>
                    <!-- <td *ngFor="let p of a.User.Presences">{{ p.eventName }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>